@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #d41002;
    --primary-color-sligthly-transparent: rgba(212, 16, 2, 0.6);
    --success-color: #008000;
    --primary-bg-color: #272822;
    --secondary-bg-color: #1A1B1E;

    --toastify-color-dark: var(--secondary-bg-color);

    --toastify-color-progress-error: var(--primary-color);
    --toastify-icon-color-error: var(--primary-color);

    --toastify-color-progress-success: var(--success-color);
    --toastify-icon-color-success: var(--success-color);
  }

  ::selection {
    background-color: var(--primary-color);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
}

@layer utilities {
  .color-primary {
    color: var(--primary-color);
  }

  .color-bg-secondary {
    background-color: var(--secondary-bg-color);
  }

  .color-success {
    color: var(--success-color);
  }

  .border-primary-bottom {
    border-bottom: 1px dashed var(--primary-color);
  }

  .border-subtle {
    border: 1px solid #2C2E33;
  }

  .border-top-subtle {
    border-top: 1px solid #2C2E33;
  }

  .border-bottom-subtle {
    border-bottom: 1px solid #2C2E33;
  }

  .border-right-subtle {
    border-right: 1px solid #2C2E33;
  }

  .border-left-subtle {
    border-left: 1px solid #2C2E33;
  }

  .border-hover-white {
    @apply border border-transparent hover:border-white;
  }
}

.Toastify__toast {
  border-radius: 0;
}

.mantine-Table-root {
  th {
    border-bottom-width: 2px !important;
  }

  th, td {
    border-bottom-style: dashed !important;
  }

  tbody tr:last-of-type td {
    border-bottom: none !important;
  }
}

.mantine-RadioGroup-root {
  .mantine-RadioGroup-radioWrapper {
    @apply hover:bg-white/10 w-full grow;
  }

  label {
    font-size: 14px;
    @apply flex w-full cursor-pointer;

    input {
      width: 24px;
    }

    span {
      @apply w-full;

      div {
        @apply w-full;
      }
    }
  }
}

.mantine-Checkbox-root {
  label {
    @apply inline-block w-full cursor-pointer;
  }
}

// Stylize a bit the markdown generated by users
.riddens-note {
  p {
    @apply mt-3
  }
}

.riddens {
  .mantine-Badge-root {
    height: auto;

    span {
      white-space: initial;
      text-align: center;
    }
  }
}